* {
  box-sizing: border-box;
}

:root{
  --contrast:rgb(28, 21, 46);
  --fondo:rgb(10, 4, 26);
  --text-input:#ffdfdf;
  --black:#000000;

  --sm:14px;
  --md:16px;
  --lg:18px;

}


body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: var(--text-input);
  background-color: rgb(28, 21, 46);

}
.encabezado{
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  margin: 20px auto;
  width: fit-content; 

}
.encabezado img{
  margin-right:20px ;
  border-radius: 10%;
  width: 200px;
  height: 300px;
}
.encabezado h1{
  text-align: center;
}

.descripcion{
  text-align: center;
  width: 20%;
  margin: 0 auto;

}
.contenido{
  background-color: var(--fondo);
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;

  
}
.Proyectos {
  margin-top: 10PX;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--contrast);
  padding: 20px;
}

.Proyectos > div {
  display: flex;
  gap: 20px; 
}

#ignore, #responsive, #formulario {
  align-items: center;
  justify-content: center;
  background-color: var(--fondo);
  color: var(--text-input);
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  width: 600px; 
  height: 500px;
}
#formulario img{
  padding-top: 50px;
  padding-left: 88px;
  width: 400px;
  height: auto;
}
#responsive img{
  padding-top: 50px;
  width: 300px;
  height: auto;
}
#ignore img{
  padding-top: 30px;
  width: 310px;
  height: auto;
}
#descripcion, #habilidadesD, #habilidadesB {
  align-items: center;
  justify-content: center;
  background-color: var(--fondo);
  color: var(--text-input);
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  width: 600px; 
  height: 500px;
}
#descripcion p{
  margin: 20px;
  text-align: justify;
  font-size: 20px;
}

li{
  font-size: 20px;
  background: var(--fondo);
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.redes {
  display: flex;
  justify-content: center;
  gap: 15px; 
  margin-top: 20px; 
}
.redes-icono {
  color: #fff; 
  font-size: 24px; 
  text-decoration: none; 
  transition: color 0.3s ease; /
}

.redes-icono:hover {
  color: #ff4081; 
}


